@import ore.models.project.TagColor

@(name: String, data: Option[String], color: TagColor, tagCount: Int = 0)
@if(data.isEmpty || tagCount > 2 || data.exists(_.length > 14)) {
    <div class="tags">
        <span style="color: @color.foreground; background-color:@color.background; border-color: @color.background" class="tag">@name</span>
    </div>
} else {
    <div class="tags has-addons">
        <span style="color: @color.foreground; background-color:@color.background; border-color: @color.background" class="tag">@name</span>
        <span class="tag">@data.get.take(14)</span>
    </div>
}
