@*
Base template for Project overview.
*@

@import controllers.project.routes._
@import controllers.sugar.Requests.OreRequest
@import models.viewhelper.{ProjectData, ScopedProjectData}
@import ore.OreConfig
@import ore.data.project.FlagReason
@import ore.markdown.MarkdownRenderer
@import ore.models.project.Visibility
@import ore.permission.Permission
@import views.html.helper.{CSPNonce, CSRF, form}

@(p: ProjectData)(implicit messages: Messages, request: OreRequest[_], flash: Flash, config: OreConfig, assetsFinder: AssetsFinder)

@scripts = {
    <script @CSPNonce.attr>
            window.PROJECT_OWNER = "@p.project.ownerName";
            window.PROJECT_SLUG = "@p.project.slug";
            window.PROJECT_ID = "@p.project.pluginId";
    </script>
    <script src="@assetsFinder.path("build/project.js")"></script>
}

@meta = {
    <meta property="og:title" content="@p.project.ownerName / @p.project.name" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@config.app.baseUrl@Projects.show(p.project.ownerName, p.project.slug)" />
    <meta property="og:image" content="@p.iconUrl" />
    <meta property="og:site_name" content="@messages("general.appName")" />
    @defining(p.project.description.getOrElse("")) { description =>
        <meta property="og:description" content="@description" />
    }
}

@layout.base(p.project.ownerName + " / " + p.project.name, scripts, additionalMeta = meta) {
    <div id="project"></div>
}
