@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@()(implicit messages: Messages, flash: Flash, request: OreRequest[_], config: OreConfig, assetsFinder: AssetsFinder)

@scripts = {
    <script src="@assetsFinder.path("lib/ore-client/ore.js")"></script>
}

@stylesheets = {
    <link rel="stylesheet" type="text/css" href="@assetsFinder.path("lib/ore-client/home.css")" />
}

@meta = {
    <meta property="og:title" content="@messages("general.appName")">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@config.application.baseUrl">
    <meta property="og:image" content="@assetsFinder.path("images/ore-dark.png")" />
    <meta property="og:description" content="@messages("general.description")" />
}

@layout.base(messages("general.title"), scripts, additionalMeta = meta, additionalStyling = stylesheets, empty = true) {

    <div id="home"></div>
}
