@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@()(implicit messages: Messages, requestHeader: RequestHeader, request: OreRequest[_] = null, config: OreConfig, flash: Flash, assetsFinder: AssetsFinder)

@layout.base(messages("error.notFound.title"), authEnabled = false, noContainer = true) {

    <div class="container-error container">
        <img src="@assetsFinder.path("images/ore-dark.png")" alt="Ore logo" />
        <h1 class="minor">@messages("error.notFound.title")</h1>
        <h3 class="minor">@messages("error.notFound.message", requestHeader.uri)</h3>
    </div>

}
