@*
Page used for uploading and creating new projects.
*@
@import controllers.sugar.Requests.OreRequest
@import models.user.User
@import models.viewhelper.OrganizationData
@import ore.OreConfig
@import ore.project.factory.creation.PendingProjectCreation
@import views.html.helper.{CSRF, form}
@import views.html.projects.creation.template
@import views.html.utils.userAvatar
@import ore.permission.role.RoleType
@import models.user.role.ProjectRole
@(pendingProject: PendingProjectCreation, owner: User, authors: Seq[String], orgaData: Option[OrganizationData])(implicit messages: Messages, flash: Flash, request: OreRequest[_], config: OreConfig)
@roles = @{
    RoleType.values.filter(role => role.roleClass.equals(classOf[ProjectRole]) && role.isAssignable).toList.sortBy(_.trust).reverse
}
@template(messages("project.create"), 3) {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/pluginCreationInvite.js")"></script>

    @form(action = controllers.project.routes.ProjectCreation.processStep3(), 'enctype -> "multipart/form-data", 'id -> "form-upload", 'id -> "uploadFileFormStep3") {
        @CSRF.formField

        @Html(messages("project.members.infoText.head"))

        <table class="table table-hover table-sm mt-2 table-project-creation-invite">
            <thead>
                <tr class="thead-dark">
                    <th width="45"></th>
                    <th>User</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="45">
                        @userAvatar(Some("ghost"), "ghost", clazz = "user-avatar-xs")
                    </td>
                    <td>
                        <input type="hidden" name="">
                    </td>
                    <td>
                        <select name="">
                        @roles.map { roleType =>
                            <option value="@roleType.value">@roleType.title</option>
                        }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="45">
                        @userAvatar(Some(owner.name), owner.avatarUrl, clazz = "user-avatar-xs")
                    </td>
                    <td>
                        @pendingProject.underlying.ownerName
                    </td>
                    <td>
                        @RoleType.ProjectOwner.title
                    </td>
                </tr>
                @if(orgaData.isDefined) {
                    @orgaData.get.filteredMembers.map { case (role, user) =>
                    <tr class="bg-light">
                        <td width="45">
                            @userAvatar(Some(user.name), user.avatarUrl, clazz = "user-avatar-xs")
                        </td>
                        <td>
                        @user.name
                        </td>
                        <td>
                        @role.roleType.title (inherited from Organization)
                    </td>
                    </tr>
                    }
                }
            </tbody>
            <tfoot class="bg-light">
                <tr>
                    <td colspan="3">
                        <div class="input-group p-2 mt-2">
                            <input type="text" class="form-control" placeholder="User">
                            <div class="input-group-append">
                                <a class="btn btn-secondary" type="button" id="button-addon2"><i class="fas fa-search fa-fw"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

        <br>

        <div class="row">
            <div class="col-12">
            Ore has found some authors in your mcmod.info you might want to add them as a collaborators.
            </div>
            <div class="col-12">
                <ul class="list-unstyled">
                    @authors.map { author =>
                        <li><a class="btn btn-link btn-sm" data-author="@author">Add</a> @author</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-auto ml-auto">
                <button class="btn btn-success" type="submit">@messages("general.continue")</button>
            </div>
        </div>

        <script>

        </script>
    }
}
