@import models.user.User
@import ore.permission._
@import ore.permission.scope.GlobalScope
@import ore.OreConfig
@import models.project.Flag
@import db.access.ModelAccess
@import models.project.Version
@import controllers.sugar.Requests.OreRequest

@(user: User)(implicit messages: Messages, request: OreRequest[_], config: OreConfig)

<li class="dropdown user-controls nav-icon">
    <a href="#" class="drop-down-toggle user-toggle" data-toggle="dropdown">
        @if(request.headerData.hasNotice) {
            <span class="unread"></span>
        }
        <img height="32" width="32" class="user-avatar" src="@user.avatarUrl" />
        <span class="caret"></span>
    </a>

    <ul class="user-dropdown dropdown-menu" aria-label="@messages("aria.dropdown.menu", 1)">
        <li>
            <a href="@routes.Users.showProjects(user.name, None)">
                <span class="pull-left">@user.name</span>
                <i class="pull-right fa fa-user"></i>
            </a>
        </li>

        <li>
            <a href="@routes.Users.showNotifications(None, None)">
                <span class="pull-left">
                    @messages("notification.plural")
                    @if(request.headerData.hasUnreadNotifications) {
                        <span class="unread"></span>
                    }
                </span>
                <i class="pull-right fa fa-bell"></i>
            </a>
        </li>

        @if(request.headerData.globalPerm(ReviewFlags)) {
            <li>
                <a href="@routes.Application.showFlags()">
                    <span class="flags pull-left">
                        @messages("project.flag.plural")
                        @if(request.headerData.unresolvedFlags) {
                            <span class="unread"></span>
                        }
                    </span>
                    <i class="pull-right fa fa-flag"></i>
                </a>
            </li>
        }


        @if(request.headerData.globalPerm(ReviewVisibility)) {
            <li>
                <a href="@routes.Application.showProjectVisibility()">
                    <span class="flags pull-left">
                        Project approvals
                        @if(request.headerData.hasProjectApprovals) {
                            <span class="unread"></span>
                        }
                    </span>
                    <i class="pull-right fa fa-thumbs-up"></i>
                </a>
            </li>
        }

        @if(request.headerData.globalPerm(ReviewProjects)) {
            <li>
                <a href="@routes.Application.showQueue()">
                    <span class="pull-left">
                        @messages("user.queue")
                        @if(request.headerData.hasReviewQueue) {
                            <span class="unread"></span>
                        }
                    </span>
                    <i class="pull-right fa fa-thumbs-up"></i>
                </a>
            </li>
        }

        @if(request.headerData.globalPerm(EditCompetitions)) {
            <li>
                <a href="@controllers.project.routes.Competitions.showManager()">
                    <span class="pull-left">@messages("project.competition.plural")</span>
                    <i class="pull-right fa fa-trophy"></i>
                </a>
            </li>
        }

        @if(request.headerData.globalPerm(ViewStats)) {
            <li>
                <a href="@routes.Application.showStats()">
                    <span class="pull-left">
                    @messages("user.stats")
                    </span>
                    <i class="pull-right fa fa-area-chart"></i>
                </a>
            </li>
        }

        @if(request.headerData.globalPerm(ViewHealth)) {
            <li>
                <a href="@routes.Application.showHealth()">
                    <span class="pull-left">
                    @messages("admin.health.title")
                    </span>
                    <i class="pull-right fa fa-heartbeat"></i>
                </a>
            </li>
        }

        @if(request.headerData.globalPerm(ViewLogs)) {
            <li>
                <a href="@routes.Application.showLog(None, None, None, None, None, None, None)">
                    <span class="pull-left">
                    @messages("admin.log.title")
                    </span>
                    <i class="pull-right fa fa-list"></i>
                </a>
            </li>
        }

        <li role="separator" class="divider"></li>
        <li>
            <a href="@routes.Users.logOut()">
                <span class="pull-left">@messages("general.signout")</span>
                <i class="pull-right fa fa-sign-out"></i>
            </a>
        </li>
    </ul>
</li>
