@import java.sql.Timestamp

@import controllers.sugar.Requests.OreRequest
@import db.impl.access.UserBase.UserOrdering
@import models.user.User
@import ore.OreConfig
@import ore.permission.role.Role
@import security.NonceFilter._
@import util.StringUtils._
@import views.html.utils.userAvatar
@(staff: Seq[(String, Role, Option[Timestamp], Timestamp)], ordering: String, page: Int)(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)
@pageSize = @{ config.ore.users.authorPageSize }
@direction = @{ if (ordering.startsWith("-")) "fas fa-chevron-down fa-fw" else "fas fa-chevron-up fa-fw" }
@isActiveSort(td: String) = @{
	val sort = if (ordering.startsWith("-")) ordering.substring(1) else ordering
	sort.equalsIgnoreCase(td)
}
@bootstrap.layout("Staff - Ore") {

	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/userList.js")"></script>
    <script nonce="@nonce">
            CURRENT_PAGE = @page;
            ORDERING = "@ordering";
    </script>

	<div class="card table-responsive">
		<table class="table mb-0 text-nowrap staff-table">
			<thead class="thead-dark">
				<tr>
					<th data-ordering="@UserOrdering.UserName">
						Username
						@if(isActiveSort(UserOrdering.UserName)) { <i class="@direction"></i> }
					</th>
					<th data-ordering="@UserOrdering.Role">
						Roles
						@if(isActiveSort(UserOrdering.Role)) { <i class="@direction"></i> }
					</th>
					<th data-ordering="@UserOrdering.JoinDate">
						Joined
						@if(isActiveSort(UserOrdering.JoinDate)) { <i class="@direction"></i> }
					</th>
				</tr>
			</thead>
			<tbody>
				@staff.map { case (name, role, joinDate, createdAt) =>
				<tr>
					<td>
						@userAvatar(Some(name), User.avatarUrl(name), clazz = "icon-xs mr-2")<a href="@routes.Application.showActivities(name)">@name</a>
					</td>
					<td>

								<span class="user-role badge" style="background-color: @role.color.hex">
								@role.title
								</span>


					</td>
					<td>@prettifyDate(joinDate.getOrElse(createdAt))</td>
				</tr>
				}
			</tbody>
			<tfoot>
				@if(page > 1 || staff.size >= pageSize) {
					<tr class="authors-footer">
						<td></td>
						<td></td>
						<td></td>
						<td>
							@if(staff.size >= pageSize) {
								<a href="@routes.Users.showStaff(Some(ordering), Some(page + 1))" class="btn btn-default">
									<i class="fa fa-arrow-right"></i>
								</a>
							}

							@if(page > 1) {
								<a href="@routes.Users.showStaff(Some(ordering), Some(page - 1))" class="btn btn-default">
									<i class="fa fa-arrow-left"></i>
								</a>
							}
						</td>
					</tr>
				}
			</tfoot>
		</table>
	</div>

}
