@import controllers.sugar.Requests.OreRequest
@import models.project.{Project, ReviewState, Version}
@import ore.OreConfig
@import ore.project.io.DownloadType
@import views.html.helper.CSRF
@(project: Project,
        target: Version,
        isTargetChannelNonReviewed: Boolean,
        downloadType: DownloadType,
        token: String)(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)
@versionRoutes = @{ controllers.project.routes.Versions }
@bootstrap.layout(messages("version.download.confirm.title") + " " + messages("version.download.confirm.header", project.ownerName, project.name, target.name)) {
    <div class="row unsafe-dl">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="panel-title mb-0"><i class="fas fa-exclamation-circle"></i>&ensp;@messages("general.warning")</h4>
                </div>
                <div class="card-body">
                    <div class="info">
                        <p><span>Project:</span> @project.name</p>
                        <p><span>Author:</span> @project.ownerName</p>
                        <p><span>Version:</span> @target.name</p>
                    </div>

                    <div class="alert alert-danger">
                    @if(isTargetChannelNonReviewed|| target.reviewState == ReviewState.Backlog) {
                        @messages("version.download.confirm.nonReviewedChannel")
                    } else {@if(target.reviewState != ReviewState.PartiallyReviewed) {
                        @messages("version.download.confirm.reviewedChannel")} else {
                                    @messages("version.download.confirmPartial.reviewedChannel")
                                }
                    }
                    </div>
                    <p>
                        @messages("general.disclaimer"):
                        <span class="text-italic">@messages("version.download.confirm.disclaimer")</span>
                    </p>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 mb-3-sm">
                            <button class="btn btn-success link-go-back">
                            @messages("project.back")
                            </button>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <form action="@versionRoutes.confirmDownload(project.ownerName, project.slug, target.name, Some(downloadType.value), token)" method="post" id="form-download">
                                @CSRF.formField

                                <button type="submit" form="form-download" class="btn btn-danger pull-right-sm">
                                @messages("version.download.confirm.download")
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
