.btn-yellow {
  background: $sponge_yellow;
  border-color: darken($sponge_yellow, 5);
  color: black;

  &:hover, &:focus {
    background: darken($sponge_yellow, 3);
    border-color: darken($sponge_yellow, 9);
    box-shadow: none;
    color: black;
  }
}

.btn-gray {
  background: $sponge_light_gray;
  border-color: $sponge_grey;
  color: #ffffff;

  &:hover, &:focus {
    background: $sponge_grey;
    border-color: darken($sponge_grey, 9);
    box-shadow: none;
  }
}

.btn-disabled {
  background: #4b4b4b;
  border-color: darken(#4b4b4b, 9);
  color: #7d7d7d;

  &:hover, &:focus {
    background: white;
    border-color: $sponge_light_gray;
    box-shadow: none;
  }
}

.btn-default {
  background: rgb(221, 221, 221);
}

.btn {
  border-radius: 0;
}
