@*
Collection of all projects.
*@
@import models.project.{Project, Tag, Version}
@import models.user.User
@import ore.OreConfig
@import ore.project.Category
@import views.html.utils
@import scala.math._
@(models: Seq[(Project, User, Version, Seq[Tag])], page: Int, pageSize: Int, call: Int => Call)(implicit config: OreConfig)
@projectRoutes = @{ controllers.project.routes.Projects }
<ul class="list-unstyled project-list">
@models.map { case (project, owner, rv, rvTags) =>
    <li class="media project mb-2">
        <img class="mr-3 align-self-center icon sm" src="@owner.avatarUrl" alt="@project.name icon">
        <div class="media-body">
            <div class="mt-0 mb-1 d-flex justify-content-between">
                <h5><a href="@projectRoutes.show(project.ownerName, project.slug)">@project.name</a></h5>
                <div class="d-lg-inline d-none stats">
                    <span title="Views"><i class="fas fa-eye"></i>@project.viewCount</span>
                    <span title="Download"><i class="fas fa-download"></i>@project.downloadCount</span>
                    <span title="Stars"><i class="fas fa-star"></i>@project.starCount</span>

                    @defining(project.category) { category: Category =>
                        <span title="@category.title">
                            <i class="fa @category.icon"></i>
                        </span>
                    }
                </div>
            </div>
            @project.description
            <div class="tags d-flex">
                @for(t <- rvTags) {
                    @projects.tag(t, rvTags.size)
                }
            </div>
        </div>
    </li>
}
</ul>

@if(models.size >= pageSize || page > 1) {
    <nav class="project-list-nav" aria-label="...">
        <ul class="pagination">
            <li class="page-item @if(page <= 1) { disabled }">
                <a class="page-link" href="@call(page - 1)"><span aria-hidden="true">&laquo;</span></a>
            </li>

            <li class="page-item active">
                <span class="page-link">@page <span class="sr-only">(current)</span></span>
            </li>

            <li class="page-item">
                <a class="page-link" href="@call(page + 1)"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
}
