@import controllers.sugar.Requests.OreRequest
@import models.admin.ProjectLogEntry
@import models.project.Project
@import ore.OreConfig
@import util.StringUtils._
@(project: Project, logs: Seq[ProjectLogEntry])(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)
@projectRoutes = @{controllers.project.routes.Projects}
@bootstrap.layout(messages("project.log.logger.title", project.namespace)) {

    <div class="row">
        <div class="col">
            <h2>@messages("project.log.logger.title") <a href="@projectRoutes.show(project.ownerName, project.slug)">@project.ownerName/@project.slug</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">@messages("project.log.logger.title")</div>
                <table class="table table-sm setting-no-border table-review-log">
                    <tbody>
                        @if(logs.isEmpty) {
                            <tr><td>No entries founds</td></tr>
                        }
                        @logs.map { entry =>
                            <tr>
                                <td>@entry.message</td>
                                <td>@prettifyDateAndTime(entry.createdAt.value)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
