@import controllers.sugar.Requests.OreRequest
@import models.api.ProjectApiKey
@import models.viewhelper.{ProjectData, ScopedProjectData}
@import ore.OreConfig
@import ore.permission.{HardRemoveProject, HideProjects}
@import security.NonceFilter._
@import views.html.helper.{CSRF, form}
@import views.html.utils
@(p: ProjectData, sp: ScopedProjectData, deploymentKey: Option[ProjectApiKey])(implicit messages: Messages, flash: Flash, request: OreRequest[_], config: OreConfig)
@projectRoutes = @{controllers.project.routes.Projects}
@projects.view(p, sp, "#settings") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/hideProject.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/iconUpload.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/keyGen.js")"></script>
    <script nonce="@nonce">
        projectName = "@p.project.name";
        PROJECT_OWNER = "@p.project.ownerName";
        PROJECT_SLUG = "@p.project.slug";
        pluginId = "@p.project.pluginId";
        keyGenText = "@messages("project.settings.genKey")";
        keyRevokeText = "@messages("project.settings.revokeKey")";
    </script>

    <div class="row">
        <div class="col-12 col-md-8">
            <!-- Main settings -->
            <div class="card panel-settings">
                <div class="card-header">
                    @messages("project.settings")
                    @if(request.headerData.globalPerm(HideProjects)) {
                        <div class="float-right">
                            @projects.helper.btnHide(p.project, sp.permissions)
                        </div>
                        <div class="modal fade" id="modal-visibility-comment" tabindex="-1" role="dialog" aria-labelledby="modal-visibility-comment">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" style="color:black;">Comment</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="@messages("general.close")">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="textarea-visibility-comment form-control" rows="3"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal">@messages("general.close")</button>
                                        <button class="btn btn-visibility-comment-submit btn-primary"><i class="fa fa-pencil"></i> Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="card-body">
                    @projects.helper.inputSettings(
                        form = "save",
                        issues = p.settings.issues,
                        source = p.settings.source,
                        licenseName = p.settings.licenseName,
                        licenseUrl = p.settings.licenseUrl,
                        selected = Some(p.project.category),
                        forumSync = p.settings.forumSync
                    )

                    <!-- Description -->
                    @defining(config.projects.get[Int]("max-desc-len")) { maxLength =>
                        <div class="row border-bottom mb-3 pb-3">
                            <div class="col-8 text-dark">
                                <h4>Description</h4>
                                <p>A short description of your project (max @maxLength).</p>
                            </div>
                            <div class="col-12">
                                <input form="save" class="form-control" type="text" id="description"
                                       name="description" maxlength="@maxLength"
                                    @p.project.description.map { description =>
                                        value="@description"
                                    }.getOrElse {
                                        placeholder="@messages("version.create.noDescription")"
                                    }
                                >
                            </div>
                        </div>
                    }

                    <!-- Project icon -->
                    <form id="form-icon" enctype="multipart/form-data">
                        <div class="row border-bottom mb-3 pb-3 setting-icon">
                            @CSRF.formField
                            <div class="col-12 text-dark">
                                <h4>Icon</h4>
                                <p>Upload an image representative of your project.</p>
                            </div>
                            <div class="col-8">
                                @utils.userAvatar(
                                    Some(p.projectOwner.name),
                                    p.projectOwner.avatarUrl,
                                    call = projectRoutes.showIcon(p.project.ownerName, p.project.slug),
                                    clazz = "user-avatar-md")
                            </div>
                            <div class="col-4">
                                <div class="icon-description">
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-default btn-reset">Reset</button>
                                        <button class="btn btn-info btn-upload pull-right" disabled>
                                            <i class="fa fa-upload"></i> Upload
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pt-2">
                                <input class="form-control-static" type="file" id="icon" name="icon" />
                            </div>
                        </div>
                    </form>

                    <div class="row border-bottom mb-3 pb-3">
                        <div class="col-8 text-dark">
                            <h4>@messages("project.settings.deployKey")</h4>
                            <p>@messages("project.settings.deployKey.info")</p>
                        </div>
                        <div class="col-4">
                            @deploymentKey.map { key =>
                              <button class="btn btn-danger btn-block btn-key-revoke" data-key-id="@key.id.value">
                                  <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                                  @messages("project.settings.revokeKey")
                              </button>
                            }.getOrElse {
                                <button class="btn btn-info btn-block btn-key-gen">
                                    <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                                    @messages("project.settings.genKey")
                                </button>
                            }
                        </div>
                        <div class="col-12">
                            @deploymentKey.map { key =>
                            <input class="form-control input-key" type="text" value="@key.value" readonly />
                            }.getOrElse {
                                <input class="form-control input-key" type="text" value="" readonly />
                            }
                        </div>
                    </div>

                    <!-- Rename -->
                    <div class="row border-bottom mb-3 pb-3">
                        <div class="col-8 text-dark">
                            <h4 class="danger">@messages("project.rename")</h4>
                            <p>@messages("project.rename.info")</p>
                        </div>
                        <div class="col-4">
                            <input form="rename" id="name" name="name" class="form-control" type="text"
                                   value="@p.project.name"
                                   maxlength="@config.projects.get[Int]("max-name-len")">
                            <button id="btn-rename" data-toggle="modal" data-target="#modal-rename"
                                    class="btn btn-warning" disabled>
                                @messages("project.rename")
                            </button>
                        </div>
                    </div>

                    <!-- Delete -->
                    <div class="row border-bottom">
                        <div class="col-8 text-dark">
                            <h4 class="text-danger">Delete</h4>
                            <p>Once you delete a project, it cannot be recovered.</p>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-delete btn-danger" data-toggle="modal" data-target="#modal-delete">
                                @messages("general.delete")
                            </button>
                        </div>
                    </div>

                    @if(request.headerData.globalPerm(HardRemoveProject)) {
                        <div class="row border-bottom py-3 mb-3 striped">
                            <div class="col-8 text-dark">
                                <h4 class="text-danger">Hard Delete</h4>
                                <p>Once you delete a project, it cannot be recovered.</p>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-delete btn-danger btn-visibility-change" data-project="@p.project.ownerName/@p.project.slug" data-level="-99" data-modal="true">
                                    <strong>Hard Delete</strong>
                                </button>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col">
                            @form(action = projectRoutes.save(p.project.ownerName, p.project.slug), 'id -> "save",
                                'class -> "float-right") {
                                @CSRF.formField
                                <input type="hidden" id="update-icon" name="update-icon" value="false" />
                                <button type="submit" name="save" class="btn btn-success btn-spinner" data-icon="fa-check">
                                    <i class="fa fa-check"></i> Save changes
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side panel -->
        <div class="col-12 col-md-4">
            <div class="alert alert-danger" role="alert" @if(flash.get("error").isEmpty) { style="display: none;" }>
                <strong>Whoops!</strong> <span>@flash.get("error").getOrElse("")</span>
            </div>
            @users.memberList(p,
                editable = true,
                perms = sp.permissions,
                removeCall = projectRoutes.removeMember(p.project.ownerName, p.project.slug),
                settingsCall = projectRoutes.showSettings(p.project.ownerName, p.project.slug)
            )
        </div>
    </div>

    <div class="modal" id="modal-rename" tabindex="-1" role="dialog" aria-labelledby="label-rename">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="label-rename">@messages("project.rename.title")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="@messages("general.cancel")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @messages("project.rename.info")
                </div>
                <div class="modal-footer">
                    <div class="form-inline">
                    @form(action = projectRoutes.rename(p.project.ownerName, p.project.slug), 'id -> "rename") {
                        @CSRF.formField
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("channel.edit.close")
                        </button>
                        <input type="submit" name="rename" value="@messages("project.rename")" class="btn btn-warning">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="label-delete">@messages("project.delete.title")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @form(action = projectRoutes.softDelete(p.project.ownerName, p.project.slug)) {
                <div class="modal-body">
                    @messages("project.delete.info")
                    <br>
                    <textarea name="comment" class="textarea-delete-comment form-control" rows="3"></textarea>
                    <br>
                    <div class="alert alert-warning">
                        @messages("project.delete.info.uniqueid", p.project.name)
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-inline">
                        @CSRF.formField
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("channel.edit.close")
                        </button>
                        <input type="submit" name="delete"
                        value="@messages("general.delete")" class="btn btn-danger">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

}
