@*
Versions page within Project overview.
*@
@import controllers.sugar.Requests.OreRequest
@import models.viewhelper.{ProjectData, ScopedProjectData}
@import ore.OreConfig
@import ore.markdown.MarkdownRenderer
@import views.html.helper.CSPNonce
@(p: ProjectData,
        sp: ScopedProjectData)(implicit messages: Messages, request: OreRequest[_], flash: Flash, config: OreConfig, renderer: MarkdownRenderer, assetsFinder: AssetsFinder)

@projectRoutes = @{ controllers.project.routes.Projects }

@scripts = {
    <script type="text/javascript" src="@assetsFinder.path("javascripts/userSearch.js")"></script>
    <script type="text/javascript" src="@assetsFinder.path("javascripts/memberList.js")"></script>
    <script @CSPNonce.attr>
            window.PLUGIN_ID = '@p.project.pluginId';
            window.PROJECT_OWNER = '@p.project.ownerName';
            window.PROJECT_SLUG = '@p.project.slug';
    </script>
    <script type="text/javascript" src="@routes.Assets.versioned("build/version-list.js")"></script>
}

@stylesheets = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("build/version-list.css")" />
}

@projects.view(p, sp, "#versions", additionalScripts = scripts, additionalStyling = stylesheets) {

    <div class="row">
        <div class="col-md-9">
            <div id="version-list"></div>
        </div>

        <div class="col-md-3">
            @users.memberList(
                j = p,
                perms = sp.permissions,
                settingsCall = projectRoutes.show(p.project.ownerName, p.project.slug) //TODO
            )
        </div>
    </div>

}
