@import models.project.{Project, Visibility}
@import ore.permission.Permission
@(project: Project, perms: Map[Permission, Boolean])(implicit messages: Messages)

<div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" id="visibility-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-project="@project.ownerName/@project.slug">
        <i class="fa fa-eye"></i> Visibility actions
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="visibility-actions">
    @for(visibility <- Visibility.values.sortBy(_.value)) {
        @if(perms(visibility.permission)) {
            <a class="dropdown-item btn-visibility-change" href="#" data-project="@project.ownerName/@project.slug" data-level="@visibility.value" @if(visibility.needsReason){ data-modal="true" }>
                @messages("visibility.name." + visibility.title) @if(project.visibility == visibility) { <i class="fa fa-check" style="color: black" aria-hidden="true"></i> }
            </a>
        }
    }
    </div>
</div>
