@import controllers.sugar.Requests.OreRequest
@import models.user.role.OrganizationRole
@import ore.OreConfig
@import views.html.helper.{CSRF, form}
@import views.html.utils.alert
@()(implicit messages: Messages, flash: Flash, request: OreRequest[_], config: OreConfig)
@bootstrap.layout(messages("org.create")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/orgCreate.js")"></script>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">@messages("org.create.title")</div>
                <div class="card-body project-body">
                    @alert("error")

                    <p class="minor"> @messages("org.info")</p>

                    @form(action = routes.Organizations.create(), 'id -> "form-continue") {
                        @CSRF.formField
                        <div class="create-organization mt-3 p-4">
                            <h5>@messages("org.name")</h5>

                            <div class="input-group">
                                <input type="text" class="form-control input-name" name="name" placeholder="SpongePowered" maxlength="20" />
                                <div class="input-group-append">
                                    <span class="input-group-text status-org-name-container" id="basic-addon2">
                                        <i class="fas fa-search fa-fw"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    }

                    @users.invite.form(owner = request.headerData.currentUser.get, roleClass = classOf[OrganizationRole])

                    <button type="submit" name="create" form="form-continue" value="@messages("general.continue")" title="Continue"
                    class="float-right continue-btn btn btn-yellow" disabled>
                        @messages("general.create")
                    </button>
                </div>
            </div>
        </div>
    </div>
}
