@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import scala.util.Random

@import controllers.sugar.Requests.OreRequest
@import models.project.{Project, Version, VersionTag}
@import models.user.User
@import ore.project.{Category, ProjectSortingStrategies}
@import ore.{OreConfig, Platform, PlatformCategory}
@import security.NonceFilter._
@import views.html.utils.alert
@import ore.project.ProjectSortingStrategies.ProjectSortingStrategy
@import ore.project.ProjectSortingStrategies.{values, _}
@(models: Seq[(Project, User, Version, Seq[VersionTag])], visibleCategories: Option[Seq[Category]], query: Option[String], page: Int,
        sort: ProjectSortingStrategy, platformCategory: Option[PlatformCategory], platform: Option[Platform])(implicit messages: Messages, flash: Flash,
        request: OreRequest[_], config: OreConfig)
@randomSponsor = @{
    val logos = config.sponge.sponsors

    val index = new Random().nextInt(logos.size)
    logos(index)
}
@categoryString = @{
    visibleCategories.map(_.map(_.value.toString).mkString(","))
}
@orderingOption = @{
    sort match {
        case ProjectSortingStrategies.Default => None
        case _ => Some(sort.id)
    }
}
@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/home.js")"></script>
    <script nonce="@nonce">
    @if(visibleCategories.isDefined) {
    CATEGORY_STRING = "@visibleCategories.get.map(_.value).mkString(",")";
    }
    @if(!sort.equals(ProjectSortingStrategies.Default)) {
    SORT_STRING = "@sort.id";
    }
    @if(request.getQueryString("q").isDefined) {
    QUERY_STRING = "@request.getQueryString("q").get";
    }
    </script>
}
@stylesheets = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/home.css")" />
}
@bootstrap.layout(messages("general.title"), scripts, stylesheets) {
    <div class="row mb-3 align-items-center">
        <div class="col-lg-9">
            <div class="row banner align-items-center no-gutters">
                <div class="col-auto">
                    <img src="@routes.Assets.versioned("images/ore-colored.svg")" class="img-fluid" />
                </div>
                <div class="col ml-3">
                    <div class="headline">Ore</div>
                    <div>A Minecraft package repository</div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 sponsor text-center">
        @defining(randomSponsor) { sponsor =>
            <a href="@sponsor.link">
                <img class="logo img-fluid" src="@routes.Assets.versioned(sponsor.image)" />
            </a>
        }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <div class="input-group project-search mb-3">
                <input type="text" class="form-control" placeholder="Search in projects..." aria-label="Search query" aria-describedby="search-button-addon" value="@query.getOrElse("")">
                <div class="input-group-append">
                    <button class="btn btn-yellow" type="button" id="search-button-addon">Search</button>
                </div>
            </div>

            @if(query.isDefined) {
                <div class="queryRemoval mb-3">
                    <a href="@routes.Application.showHome(Some(Category.toQueryString(visibleCategories.getOrElse(Seq()))), None, Option(sort.id), None, if (platform.isDefined) Some(platform.get.value) else None, None)">
                        <i class="fa fa-window-close"></i> Clear current search query
                    </a>
                </div>
            }

            @projects.list(
                models = models,
                page = page,
                pageSize = config.ore.projects.initLoad,
                call = page => routes.Application.showHome(
                    categoryString, query, orderingOption, Some(page),
                        platformCategory.map(_.id) ,platform.map(_.value))
            )
        </div>

        <div class="col-lg-3">
            <select class="custom-select mb-3 select-sort">
                <option selected value="@sort.id">@sort.title</option>
                @values.filterNot(_.equals(sort)).map { strategy =>
                    <option value="@strategy.id">@strategy.title</option>
                }
            </select>

            <div class="card card-filters mb-3">
                <div class="card-header icon-right">
                    @messages("project.category.plural")
                    @if(visibleCategories.isDefined) {
                        <a class="white" href="@routes.Application.showHome(None, query, Option(sort.id), None, if (platform.isDefined) Some(platform.get.value) else None, None)">
                            <i class="category-reset fas fa-times"></i>
                        </a>
                    }
                </div>
                <div class="list-group icon-items">
                    @for(category <- Category.visible) {
                        <a class="list-group-item list-group-item-action @if(visibleCategories.isDefined && visibleCategories.get.contains(category)) { active }"
                            href="@routes.Application.showHome(Some(Category.toQueryStringWith(visibleCategories.getOrElse(Seq()), category)), query, Option(sort.id), Option(page), if (platform.isDefined) Some(platform.get.value) else None, None)">
                            <i class="fas fa-fw fa-@category.icon"></i>
                            @category.title
                        </a>
                    }
                </div>
            </div>

            <div class="card card-filters">
                <div class="card-header">
                    @messages("general.platform")
                </div>

                <ul class="list-group">
                    <a href="@routes.Application.showHome(categoryString, query, orderingOption, Some(page), None, None)"
                        class="list-group-item list-group-item-action @if(platform.isEmpty && platformCategory.isEmpty) { active }">
                        @messages("general.any")
                    </a>

                    @for(pc <- PlatformCategory.getPlatformCategories) {
                        <a href="@routes.Application.showHome(
                            categoryString,
                            query,
                            orderingOption,
                            Some(page),
                            Some(pc.id),
                            None)"
                        class="list-group-item list-group-item-action @if(platformCategory.map(_.name).getOrElse("") == pc.name) { active }">
                            @pc.name
                        </a>

                        @defining(pc.getPlatforms) { platforms =>
                            @if(platforms.size > 1) {
                                @for(p <- platforms) {
                                    <a href="@routes.Application.showHome(categoryString, query, orderingOption, Some(page), None, Some(p.value))"
                                        class="list-group-item list-group-item-action @if(platform.map(_.name).getOrElse("") == p.name) { active }">
                                            <span class="ml-3"><i class="mr-2 fas fa-angle-right"></i>@p.name</span>
                                    </a>
                                }
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
}
