@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@(remoteUrl: String)(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)

@bootstrap.layout(messages("general.linkout.title")) {

    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@messages("general.linkout.title")</div>
                <div class="card-body">
                    <p>@messages("general.linkout.warning", remoteUrl)</p>
                    <a class="float-left link-go-back">
                        <i class="fa fa-arrow-left"></i> @messages("project.back")
                    </a>
                    <a href="@remoteUrl">
                        <button class="float-right btn btn-primary">
                        @messages("general.continue")
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
