@import controllers.sugar.Requests.OreRequest
@import models.project.{Project, Version}
@import ore.OreConfig
@(noTopicProjects: Seq[Project],
  topicDirtyProjects: Seq[Project],
  staleProjects: Seq[Project],
  notPublicProjects: Seq[Project],
  missingFileProjects: Seq[(Version, Project)])(implicit request: OreRequest[_], messages: Messages, config: OreConfig, flash: Flash)
@projectRoutes = @{controllers.project.routes.Projects}
@versionRoutes = @{controllers.project.routes.Versions}
@bootstrap.layout(messages("admin.health.title")) {

    <div class="row">
        <div class="col-12">
            <h2>@messages("admin.health.title")</h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@messages("admin.health.discuss")</div>
                <div class="card-body list-group list-group-health">
                    @noTopicProjects.map { project =>
                      <div class="list-group-item">
                          <a class="pull-left" href="@projectRoutes.show(project.ownerName, project.slug)">
                              <strong>@project.namespace</strong>
                          </a>
                          <a class="pull-right" href="@projectRoutes.showLog(project.ownerName, project.slug)">
                              <i class="fa fa-book"></i>
                          </a>
                          <div class="clearfix"></div>
                      </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@messages("admin.health.topic")</div>
                <div class="card-body list-group list-group-health">
                @topicDirtyProjects.map { project =>
                    <div class="list-group-item">
                        <a class="pull-left" href="@projectRoutes.show(project.ownerName, project.slug)">
                            <strong>@project.namespace</strong>
                        </a>
                        <a class="pull-right" href="@projectRoutes.showLog(project.ownerName, project.slug)">
                            <i class="fa fa-book"></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@messages("admin.health.stale")</div>
                <div class="card-body list-group list-group-health">
                    @staleProjects.map { project =>
                      <div class="list-group-item">
                          <a href="@projectRoutes.show(project.ownerName, project.slug)">
                              <strong>@project.namespace</strong>
                          </a>
                      </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@messages("admin.health.hidden")</div>
                <div class="card-body list-group list-group-health">
                @notPublicProjects.map { project =>
                    <div class="list-group-item">
                        <a href="@projectRoutes.show(project.ownerName, project.slug)">
                            <strong>@project.namespace</strong> <small>@messages("visibility.name." + project.visibility.nameKey)</small>
                        </a>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@messages("admin.health.platform")</div>
                <div class="card-body list-group list-group-health">
                    <div>TODO: Filters?</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@messages("admin.health.missingFile")</div>
                <div class="card-body list-group list-group-health">
                    @missingFileProjects.map { case (version, project) =>
                      <div class="list-group-item">
                          <a href="@versionRoutes.show(project.ownerName, project.slug, version.name)">
                              <strong>@project.namespace/@version.name</strong>
                          </a>
                      </div>
                    }
                </div>
            </div>
        </div>
    </div>

}
